body {
    font-family: 'Poppins', sans-serif;
}

.content{
    width: 100%;
    margin: 0 auto; 
    padding: 0.3rem;
}

.welcomeContainer{
    width: 100%;
    margin: 0 auto; 
    text-align: center;
}
.welcomeContainer img{
    display: inline-block;

}

.title {
    text-align: center;
}

/* popup overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2;
  }
  
  #popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1rem 1rem;
    width: 80%;
    border-radius: 1rem;
  }

  /* Tooltip Hint */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1rem 1rem;
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 110%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  /*  */

  /* .plainBtn{
    font-family: 'Poppins', sans-serif;
    border: 1px solid black;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
  }

  .plainBtn:hover{
    border: 1px solid black;
    background-color: rgb(255, 35, 35);
  
  } */

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* ------------------------------------------------ */
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 0.5rem;
    width: 80%;
  }

  .modalBtnContainer{
    margin:2rem;
    /* height: 200px; */
    padding:1rem;
    position: relative;
    /* border: 3px solid green;  */
}
.modalBtn{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.close{
    float: right;
}
/* ------------------------------------------------------------ */

.hidden{
visibility: hidden;
}
.shown{
    visibility: visible;
}

.users{
    display: flex !important;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
}


#accessOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2;
}

/* #accessPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem 1rem;
  width: 80%;
  border-radius: 1rem;
} */
